<h2>Add a new Book</h2>

<!-- https://materializecss.com/text-inputs.html -->
<div class="row">
  <div class="input-field col s6">
    <input placeholder="Book Name" id="book_name" type="text">
    <label for="book_name">Book Name</label>
  </div>
  <div class="input-field col s6">
    <input id="author" placeholder="Author" type="text">
    <label for="author">Author</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s6">
    <input placeholder="category" id="category" type="text">
    <label for="category">Category</label>
  </div>
  <div class="input-field col s6">
    <input id="publish_date" placeholder="16/03/2020" type="text" class="datepicker">
    <label for="publish_date">Publish date</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s6">
    <input placeholder="0" id="age_limit" type="number">
    <label for="age_limit">Age Limit</label>
  </div>
  <div class="input-field col s6">
    <input id="price" placeholder="10" type="number">
    <label for="price">Price </label>
  </div>
</div>
<div class="row">
  <div class="input-field col s6">
    <input placeholder="0" id="isbn" type="number">
    <label for="isbn">ISBN</label>
  </div>
  <div class="input-field col s6">
    <input id="cover" placeholder="http://..." type="url">
    <label for="cover">Cover</label>
  </div>
</div>

<div class="center-align">
  <button (click)="addBookCliked()" class="btn red waves-effect waves-light">
    <i class="fas fa-plus"></i> Add the Book
  </button>
</div>

<!-- Break, back at 11h10 -->