<h1>All our books</h1>

<!-- Table from Materialize -->
<table class="highlight">
  <thead>
    <tr>
      <th [class.selected]="selectedFilter === 'name'" (click)="orderName()">Book Name</th>

      <th [class.selected]="selectedFilter === 'author'" (click)="orderAuthor()">Author</th>

      <th>Publish date</th>

      <th [class.selected]="selectedFilter === 'price'" (click)="orderPrice()">Price</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let book of myArray" [class.red-text]="!book.available">
      <td>
        <!-- Link to the details page for the given ISBN -->
        <a [routerLink]="['/book-details', book.isbn]">
          {{ book.name }}
        </a>
      </td>
      <td (click)="changeAvailability(book)">
        {{ book.author | uppercase }}
      </td>
      <td>
        {{ book.publishedDate }}
      </td>
      <td>
        <!-- https://angular.io/api/common/NgIf -->
        <span *ngIf="book.available">{{ book.price | currency : "EUR":true }}</span>
      </td>
    </tr>
  </tbody>
</table>

<!-- Floating Action Button -->
<div class="fixed-action-btn">
  <a [routerLink]="['/add']" class="btn-floating btn-large red">
    <i class="fas fa-plus"></i>
  </a>
</div>