<h1>All our books</h1>

<!-- Table from Materialize -->
<table class="highlight">
  <thead>
    <tr>
      <th>Book Name</th>
      <th>Author</th>
      <th>Publish date</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let book of myArray" [class.red-text]="!book.available">
      <td>{{ book.name }}</td>
      <td>{{ book.author | uppercase }}</td>
      <td>
        <!-- TODO :  Add the date filter
          <i *ngIf="book.publishedDate" class="red-text fab fa-hotjar"></i>
        -->
        {{ book.publishedDate }}
      </td>
      <td>
        <!-- https://angular.io/api/common/NgIf -->
        <span *ngIf="book.available">{{ book.price | currency : "EUR":true }}</span>
      </td>
    </tr>
  </tbody>
</table>